# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# tests
tests/*.xml

# Coverage
/coverage.info
/coverage.out.html/
*.gcno
*.gcda

# mklove
*.d
/config.h
/Makefile.config
/config.cache
/config.log
/config.log.old
/rb_monitor

# RPM
SOURCES
pkgs
